/*
==============================================================================================================
                                            animacion
==============================================================================================================
*/

.getUp{
    position: relative;
    animation: subir;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.getUpBtn{
    position: relative;
    animation: getUp;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.getDown{    
    position: relative;
    animation: getDown;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}
@keyframes getDown{
    0%{top:0px;}
    100%{top:300px}
}
@keyframes subir{
    0%{top:300px;}
    100%{top:0px}
}

@keyframes getUp{    
    0%{top:300px;}
    100%{top:0px;}
}

.getUpList{
    position: relative;
    animation: getUpList;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    display: inline-block;
}

@keyframes getUpList{
    0%{opacity: 0.0;}
    100%{opacity: 1}
}

.despliegue > ul {   
   max-height: 0px;
   position: absolute;
   z-index: 4;
   top: 100%;
   overflow: hidden;
   background: #fff;
   width: 180px;
   transition: all 1s;
   border-radius: 0px 0px 15px 15px;
   height: 900%;
}
 
.insideDespliegue{
    margin-left: 10px;    
    color:transparent;
}

.despliegue:hover *{
    max-height: 1000px;
    overflow: visible; 
    color:#000;
    transition:all 1s;
}

.liMove{
    height: 6.2%;
}
