.s-full {
    width: 100%;
    height: 100%;
}

.wrap-header-cart {
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.header-cart {
    position: fixed;
    z-index: 1100;
    width: 390px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    right: -400px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.34;
    transition: all 0.4s;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.header-cart::after {
    content: "";
    display: block;
    width: 100%;
    height: 9%;
    min-height: 30px;
}

.show-header-cart {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-header-cart .header-cart {
    right: 0;
}


/*---------------------------------------------*/

.header-cart-title {
    width: 260px;
    max-width: 100%;
    height: 16.5%;
    min-height: 85px;
}

.header-cart-content {
    flex-grow: 1;
    overflow: auto;
    align-content: space-between;
}

.header-cart-wrapitem {
    flex-grow: 1;
}


/*W*/

.w-full {
    width: 100%;
}

.max-w-full {
    max-width: 100%;
}

.min-w-full {
    min-width: 100%;
}


/*---------------------------------------------*/

.header-cart-item-img {
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.header-cart-item-img img {
    width: 100%;
}

.header-cart-item-img::after {
    content: '\e870';
    font-family: Linearicons-Free;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
}

.header-cart-item-img:hover:after {
    opacity: 1;
}


/*---------------------------------------------*/

.header-cart-item-txt {
    width: calc(100% - 80px);
}

.header-cart-item-name {
    display: block;
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #555;
    line-height: 1.3;
}

.header-cart-item-info {
    display: block;
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}

.header-cart-total {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #222;
    line-height: 1.3;
}


/*---------------------------------------------*/

@media (max-width: 575px) {
    .header-cart {
        padding: 30px;
    }
    .header-cart-title {
        padding-bottom: 35px;
    }
}

.flex-w,
.flex-l,
.flex-r,
.flex-c,
.flex-sa,
.flex-sb,
.flex-t,
.flex-b,
.flex-m,
.flex-str,
.flex-c-m,
.flex-c-t,
.flex-c-b,
.flex-c-str,
.flex-l-m,
.flex-r-m,
.flex-sa-m,
.flex-sb-m,
.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col-l-sb,
.flex-col-r-sb,
.flex-row,
.flex-row-rev,
.flex-col,
.flex-col-rev,
.dis-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-col-l {
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.flex-col-l-m {
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.flex-col-l-sb {
    justify-content: space-between;
    -ms-align-items: center;
    align-items: flex-start;
}


/*------------------------------------------------------------------
[ Flex ]*/

.flex-w {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-sb-m {
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col-l-sb,
.flex-col-r-sb,
.flex-col {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.p-l-65,
.p-lr-65,
.p-all-65 {
    padding-left: 65px;
}

.p-r-25,
.p-lr-25,
.p-all-25 {
    padding-right: 25px;
}

.p-b-8,
.p-tb-8,
.p-all-8 {
    padding-bottom: 8px;
}


/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

.cl0 {
    color: #fff;
}

.cl1 {
    color: #D10024;
}

.cl2 {
    color: #333;
}

.cl3 {
    color: #666;
}

.cl4 {
    color: #999;
}

.cl5 {
    color: #222;
}

.cl6 {
    color: #888;
}

.cl7 {
    color: #b2b2b2;
}

.cl8 {
    color: #555;
}

.cl9 {
    color: #aaa;
}

.cl10 {
    color: #1d1d1d;
}

.cl11 {
    color: #f9ba48;
}

.cl12 {
    color: #ccc;
}

.mtext-103 {
    font-family: Poppins-Bold;
    font-size: 18px;
    line-height: 1.333333;
    text-transform: uppercase;
}

.cl2 {
    color: #333;
}

.fs-35 {
    font-size: 35px;
}

.lh-10 {
    line-height: 1.0;
}

.p-l-5,
.p-lr-5,
.p-all-5 {
    padding-left: 5px;
}

.p-t-40,
.p-tb-40,
.p-all-40 {
    padding-top: 40px;
}

.p-b-40,
.p-tb-40,
.p-all-40 {
    padding-bottom: 40px;
}


/*===================================================================
pointer pointer pointer pointer pointer pointer pointer pointer 
pointer pointer pointer pointer pointer pointer pointer pointer 
=====================================================================*/


/*---------------------------------------------*/

.pointer-none {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hov-cl1:hover {
    color: #fff;
}

.trans-04 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


/* ------------------------------------ */

.flex-c-m {
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}


/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/

.stext-101 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
}


/*SIZE*/

.size-107 {
    min-width: 145px;
    height: 40px;
}


/*==================================================================
   BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND BACKGROUND 
==================================================================*/

.bg-none {
    background-color: transparent;
}

.bg0 {
    background-color: #fff;
}

.bg1 {
    background-color: #D10024;
}

.bg2 {
    background-color: #e6e6e6;
}

.bg3 {
    background-color: #222;
}

.bg5 {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg6 {
    background-color: #f2f2f2;
}

.bg7 {
    background-color: #333;
}

.bg8 {
    background-color: #f3f3f3;
}

.bg9 {
    background-color: rgba(255, 255, 255, 0.9);
}


/*====================================================================
    border
======================================================================*/

.bor2 {
    border-radius: 20px;
}


/*========================================================

  ==========================================================*/

.hov-btn3:hover {
    border-color: #717fe0;
    background-color: #D10024;
    color: #fff;
}

.hov-btn3:hover i {
    color: #fff;
}


/*=====================================================================
                                    M M
  ======================================================================*/

.m-r-8,
.m-lr-8,
.m-all-8 {
    margin-right: 8px;
}

.m-b-10,
.m-tb-10,
.m-all-10 {
    margin-bottom: 10px;
}


/*
  =========================================================================
                        CAR_VIEW
  =========================================================================
  */

.wizard-container {
    padding-top: 50px;
    z-index: 3;
    padding-bottom: 50px;
}

.wizard-navigation {
    position: relative;
}

.wizard-card .wizard-navigation h3 {
    font-weight: 200;
    text-align: center;
}

.card {
    background-color: #FFFFFF;
    padding: 10px 0 20px;
    width: 100%;
}

.wizard-card {
    min-height: 410px;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
}

.wizard-card .picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.wizard-card .picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .picture:hover {
    border-color: #2ca8ff;
}


/*
  .wizard-card .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
  }
  */

.wizard-card .picture-src {
    width: 100%;
}

.wizard-card .tab-content {
    min-height: 340px;
    padding: 20px 10px;
}

.wizard-card .wizard-footer {
    padding: 0 10px;
}

.wizard-card .disabled {
    display: none;
}

.wizard-card .wizard-header h3 {
    font-weight: 200;
    text-align: center;
}

.wizard-card[data-color="green"] .choice:hover .icon,
.wizard-card[data-color="green"] .choice.active .icon {
    border-color: #05AE0E;
}

.wizard-card[data-color="green"] .picture:hover {
    border-color: #05AE0E;
}

.wizard-card[data-color="green"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #05AE0E;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="azzure"] .choice:hover .icon,
.wizard-card[data-color="azzure"] .choice.active .icon {
    border-color: #2CA8FF;
}

.wizard-card[data-color="azzure"] .picture:hover {
    border-color: #2CA8FF;
}

.wizard-card[data-color="azzure"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #2CA8FF;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="blue"] .choice:hover .icon,
.wizard-card[data-color="blue"] .choice.active .icon {
    border-color: #D10024;
}

.wizard-card[data-color="blue"] .picture:hover {
    border-color: #D10024;
}

.wizard-card[data-color="blue"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #D10024;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="orange"] .choice:hover .icon,
.wizard-card[data-color="orange"] .choice.active .icon {
    border-color: #FF9500;
}

.wizard-card[data-color="orange"] .picture:hover {
    border-color: #FF9500;
}

.wizard-card[data-color="orange"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #FF9500;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="red"] .choice:hover .icon,
.wizard-card[data-color="red"] .choice.active .icon {
    border-color: #FF3B30;
}

.wizard-card[data-color="red"] .picture:hover {
    border-color: #FF3B30;
}

.wizard-card[data-color="red"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #FF3B30;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card .btn {
    text-transform: uppercase;
}

.wizard-card .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
}

.wizard-card .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.wizard-card .choice .icon {
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    background-color: #999999;
    color: #FFFFFF;
    margin: 0 auto 20px;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .choice i {
    font-size: 30px;
    line-height: 111px;
}

.wizard-card .choice:hover .icon,
.wizard-card .choice.active .icon {
    border-color: #2ca8ff;
}

.wizard-card .choice input[type="radio"],
.wizard-card .choice input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
}

.wizard-card .btn-finish {
    display: none;
}

.wizard-card .description {
    color: #999999;
    font-size: 14px;
}


/*           Buttons fill .btn-fill           */

.btn-fill {
    color: #FFFFFF;
    opacity: 1;
}

.btn-fill:hover,
.btn-fill:active,
.btn-fill:focus {
    color: #FFFFFF;
}

.btn-fill.btn-default {
    background-color: #999999;
    border-color: #999999;
}

.btn-fill.btn-default:hover,
.btn-fill.btn-default:focus,
.btn-fill.btn-default:active,
.btn-fill.btn-default.active,
.open .dropdown-toggle .btn-fill.btn-default {
    background-color: #888888;
    border-color: #888888;
}

.btn-fill.btn-primary {
    background-color: #D10024;
    border-color: #3472F7;
}

.btn-fill.btn-primary:hover,
.btn-fill.btn-primary:focus,
.btn-fill.btn-primary:active,
.btn-fill.btn-primary.active,
.open .dropdown-toggle .btn-fill.btn-primary {
    border-color: #1D62F0;
    background-color: #1D62F0;
}

.btn-fill.btn-info {
    background-color: #D10024;
    border-color: #2CA8FF;
}

.btn-fill.btn-info:hover,
.btn-fill.btn-info:focus,
.btn-fill.btn-info:active,
.btn-fill.btn-info.active,
.open .dropdown-toggle .btn-fill.btn-info {
    background-color: #D10024;
    border-color: #109CFF;
}

.btn-fill.btn-success {
    background-color: #05AE0E;
    border-color: #05AE0E;
}

.btn-fill.btn-warning {
    background-color: #FF9500;
    border-color: #FF9500;
}

.btn-fill.btn-warning:hover,
.btn-fill.btn-warning:focus,
.btn-fill.btn-warning:active,
.btn-fill.btn-warning.active,
.open .dropdown-toggle .btn-fill.btn-warning {
    background-color: #ED8D00;
    border-color: #ED8D00;
}

.btn-fill.btn-danger {
    background-color: #FF3B30;
    border-color: #FF3B30;
}

.btn-fill.btn-danger:hover,
.btn-fill.btn-danger:focus,
.btn-fill.btn-danger:active,
.btn-fill.btn-danger.active,
.open .dropdown-toggle .btn-fill.btn-danger {
    background-color: #EE2D20;
    border-color: #EE2D20;
}


/*          End Buttons fill          */


/*
==============================================================================================
                                            BTN'S
==============================================================================================
*/

.btn-wd {
    min-width: 100px;
}

.btn-wd {
    min-width: 140px;
}

.btn-sm,
.btn-xs {
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 10px;
}


/*
===================================================================================================
                                          TAB-PANE
===================================================================================================

.tab-content > .tab-pane {
  display: none;
}
*/


/*            Navigation menu                */

.nav-pills {
    background-color: #999999;
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-pills>li>a {
    border: 1px solid #2CA8FF;
    border-radius: 0;
    color: #2CA8FF;
    border: 0 !important;
    text-transform: uppercase;
    background-color: #999999;
    text-align: center;
    color: #FFFFFF !important;
    font-size: 12px;
    cursor: pointer;
}

.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    background-color: #999999;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: inherit;
}

.text-primary,
.text-primary:hover {
    color: #3472F7;
}

.text-info,
.text-info:hover {
    color: #2CA8FF;
}

.text-success,
.text-success:hover {
    color: #05AE0E;
}

.text-warning,
.text-warning:hover {
    color: #FF9500;
}

.text-danger,
.text-danger:hover {
    color: #FF3B30;
}


/*======================================================================================================
                                  MOVING TAP
=======================================================================================================*/

.wizard-card[data-color="green"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #05AE0E;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="azzure"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #D10024;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="blue"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #D10024;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="orange"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #FF9500;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="red"] .moving-tab {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #FF3B30;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.logo-container {
    left: 50px;
    position: absolute;
    top: 20px;
    z-index: 3;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}

.logo-container .brand {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}

.btn_modal_op_max {
    size: 50px;
    height: 30px;
    width: 30px;
    border-radius: 4px 0px 0px 4px;
}

.btn_modal_op_min {
    border-radius: 0px 4px 4px 0px;
    size: 50px;
    height: 30px;
    width: 30px;
}

.inp_cant_pro{
    border: 1px solid black;
    text-align: center;
    height: 30px;
    width: 70%; 
    border-radius: 5px; 
}

.modalImg{
    height: 620px;
    text-align: center
}

.divModal{
    height: 620px;
}

@media (max-width:768px){
    .modalImg{
        height: 180px;
        text-align: center
    }

    .divModal{
        height: 360px;
    }
}

.imgModal{
    height: 480px;
    margin-top: 55px
}

.reponserk{
    width: 100%; 
    height: 880px;
}

@media (max-width:375px){
    .imgModal{
        height: 200px;
        margin-left: -40px;
        align-self: center;
    }
}

@media (max-width:420px){
    .imgModal{
        height: 200px;
        margin-left: -40px;
        align-self: center;
    }
}

@media (max-width:320px){
    .imgModal{
        height: 150px;
        margin-left: -10px;
        align-self: center;
    }
}

@media (min-width:768px){
    .imgModal{
        height: 350px;
        margin-left: 50px;
        align-self: center;
        margin-top: -3%;
    }
}

@media (min-width:1024px){
    .imgModal{
        height: 350px;
        margin-left: 10px;
        align-self: center;
        margin-top: 10%;
    }
}

.imgList{
    width: 100%;
    height:100%;
    margin-left: 15%;
    padding-top: 7%;
}

.divList{
    height: 200px;
}

.infinitScrol {
    overflow-y: scroll;
    height: 900px;
    padding-right: 0%;
    padding-left: 15%;
}

.menuScrol{
    overflow-y: scroll;    
}

.infinitScrol::-webkit-scrollbar{
    visibility: hidden; 
}

.divHidden{
    display: none;
}
/*
===========================================================================================================
                                                    P
===========================================================================================================
*/

.p-t-60, .p-tb-60, .p-all-60 {padding-top: 60px;}
.p-b-20, .p-tb-20, .p-all-20 {padding-bottom: 20px;}
.p-b-30, .p-tb-30, .p-all-30 {padding-bottom: 30px;}
.p-lr-15-lg {padding-left: 15px; padding-right: 15px;}
.p-l-25, .p-lr-25, .p-all-25 {padding-left: 25px;}
.p-l-250, .p-lr-250, .p-all-250 {padding-left: 250px;}
.p-l-251, .p-lr-251, .p-all-251 {padding-left: 251px;}
.p-l-252, .p-lr-252, .p-all-252 {padding-left: 252px;}
.p-l-253, .p-lr-253, .p-all-253 {padding-left: 253px;}
.p-l-254, .p-lr-254, .p-all-254 {padding-left: 254px;}
.p-l-255, .p-lr-255, .p-all-255 {padding-left: 255px;}
.p-l-256, .p-lr-256, .p-all-256 {padding-left: 256px;}
.p-l-257, .p-lr-257, .p-all-257 {padding-left: 257px;}
.p-l-258, .p-lr-258, .p-all-258 {padding-left: 258px;}
.p-l-259, .p-lr-259, .p-all-259 {padding-left: 259px;}
.p-r-30, .p-lr-30, .p-all-30 {padding-right: 30px;}

/*//////////////////////////////////////////////////////////////////
[ Slick3 ]*/
.wrap-slick3 {
    position: relative;
  }
  
  /*---------------------------------------------*/
  .wrap-slick3-arrows {
    position: absolute;
    z-index: 100;
    width: 83.333333%;
    right: 0;
    top: calc(50% - 20px);
  }
  
  .arrow-slick3 {
    font-size: 25px;
    color: #fff;
    
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .arrow-slick3:hover {
    background-color: rgba(0,0,0,0.9);
  }
  
  .prev-slick3 {left: 0px;}
  .next-slick3 {right: 0px;}
  
  /*---------------------------------------------*/
  .wrap-slick3-dots {
    width: 11.111111%;
  }
  
  .slick3 {
    width: 83.333333%;
  }
  
  .slick3-dots li {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 27px;
  }
  
  .slick3-dots li img {
    width: 100%;
  }
  
  .slick3-dot-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 2px solid transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .slick3-dot-overlay:hover {
    border-color: #ccc;
  }
  
  .slick3-dots .slick-active .slick3-dot-overlay {
    border-color: #ccc;
  }
  
  /*
  =======================================================================
                                    M
  ========================================================================
  */

    .m-r-20, .m-lr-20, .m-all-20 {margin-right: 20px;}
    .m-r-200, .m-lr-200, .m-all-200 {margin-right: 200px;}
    .m-r-201, .m-lr-201, .m-all-201 {margin-right: 201px;}
    .m-r-202, .m-lr-202, .m-all-202 {margin-right: 202px;}
    .m-r-203, .m-lr-203, .m-all-203 {margin-right: 203px;}
    .m-r-204, .m-lr-204, .m-all-204 {margin-right: 204px;}
    .m-r-205, .m-lr-205, .m-all-205 {margin-right: 205px;}
    .m-r-206, .m-lr-206, .m-all-206 {margin-right: 206px;}
    .m-r-207, .m-lr-207, .m-all-207 {margin-right: 207px;}
    .m-r-208, .m-lr-208, .m-all-208 {margin-right: 208px;}
    .m-r-209, .m-lr-209, .m-all-209 {margin-right: 209px;}